body {
	margin: 0;
	position: relative;
	font-family: Roboto, sans-serif;
}

img {
	display: block;
}

.ul {
	padding: 0;
	margin: 0;
	list-style-type: none;

	/* display: flex;
	justify-content: space-between; */
}

.link {
	text-decoration: none;
}
.link:hover,
.link:focus {
	color: #2196f3;
	cursor: pointer;
	-webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link--active {
	color: #2196f3;
}
.link--active::after {
	content: '';
	width: 53px;
	height: 4px;
	background-color: #2196f3;
	position: absolute;
	top: 46px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: block;
}
.header__linkUnderline {
	content: '';
	width: 53px;
	height: 4px;
	background-color: #2196f3;
	position: absolute;
	top: 46px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: none;
}
.link--header:hover + .header__linkUnderline,
.link--header:focus + .header__linkUnderline {
	display: block;
}
.header {
	margin: auto;
	width: 480px;
	display: flex;
	border: 1px solid black;
}

.header__logo {
	width: 134px;
	height: 28px;
	padding: 16px 15px;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.03em;
	text-align: left;
}

.link--header {
	color: #757575;
}
.menuToggle {
	width: 40px;
	height: 40px;
	padding: 0;
	margin-top: 10px;
	margin-left: 276px;
	border: none;
	background-color: #fff;
}
.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
#header-mobile__icon-hamburger {
	width: 24px;
	height: 24px;
}
.mobile-menu__iconClose {
	width: 40px;
	height: 40px;
}
.header-nav {
	display: none;
	position: relative;
	width: 521px;
	display: none;
	/* display: flex; */
	padding-left: 93px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.02em;
	text-align: left;
}
.header-nav-subpages {
	display: none;
	position: absolute;
	top: 32px;
	display: inline-block;
	width: 245px;
}
.header-nav-subpages__list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
}
.header-nav-subpages__element {
	font-size: 14px;
	font-weight: 500;
	margin: 0px;
	position: relative;
}
.header-nav-contact {
	position: absolute;
	right: 15px;
	display: grid;
	padding-left: 101px;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0.02em;
	text-align: left;
}
.header-nav-contact__list {
	width: 150px;
	padding-top: 21px;
}
.header-nav-contact__element {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0.02em;
	text-align: left;
	padding: 5px;
}
.header-nav-contact__element > a > #header-nav-contact__icon-smartphone {
	margin-right: 8px;
	fill: #757575;
	width: 10px;
	height: 14px;
}
.header-nav-contact__element > a > #header-nav-contact__icon-envelope {
	margin-right: 8px;
	fill: #757575;
	width: 14px;
	height: 10px;
}

.service-order {
	width: 480px;
	height: 400px;
	margin: auto;
	margin-bottom: 60px;
	background-color: #2f303a;
	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(47, 48, 58, 0.4)),
			to(rgba(23, 26, 58, 0.4))
		),
		url('../images/main-index.jpg');
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(23, 26, 58, 0.4)), url('../images/main-index.jpg');
	background-size: cover;
}
.service-order__h1 {
	padding: 118px 58px 10px 57px;
	margin: 0px;
	font-size: 26px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0.06em;
	text-align: center;
	color: #ffffff;
}
.service-order__btn {
	font-weight: 700;
	font-size: 16px;
	border: none;
	background-color: #2196f3;
	color: #ffffff;
	width: 200px;
	height: 50px;
	margin: auto;
	padding: 10px 41px 10px 42px;
	margin-top: 30px;
	margin-left: 140px;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.service-order__btn:hover,
.service-order__btn:focus {
	cursor: pointer;
}
.presentation--mobile {
	width: 480px;
	margin: auto;
}
.description__rectangle--mobile {
	width: 450px;
	height: 120px;
	background: #f5f4fa;
	border-radius: 4px;
	margin: auto;
	position: relative;
}
.container {
	min-width: 480px;
	max-width: 796px;
	padding-top: 48px;
	padding-left: 40px;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu .link {
	padding: 10px;
	color: inherit;
	text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
	text-decoration: underline;
}
.logo {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #2196f3;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.03em;
	text-align: center;
}
.logo--header {
	color: black;
}

.menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}
#menu-toggle__icon-hamburger {
	width: 24px;
	height: 24px;
}
.menu-toggle > svg {
	fill: #000000;
}
@media (min-width: 767px) {
	.menuToggle {
		display: none;
	}
	.header {
		width: 748px;
		height: 80px;
	}
	.header__logo {
		padding: 26px 15px;
	}
	.header__logo--mobile {
		margin-left: 15px;
		margin-top: 26px;
	}
	.header-nav {
		display: flex;
	}
}
