body {
	margin: 0;
	position: relative;
	font-family: Roboto, sans-serif;
}

img {
	display: block;
}

.ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.link {
	text-decoration: none;
}
.link:hover,
.link:focus {
	color: #2196f3;
	cursor: pointer;
	-webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link--active {
	color: #2196f3;
}
.link--active::after {
	content: '';
	width: 53px;
	height: 4px;
	background-color: #2196f3;
	position: absolute;
	top: 46px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: block;
}
.header__linkUnderline {
	content: '';
	width: 53px;
	height: 4px;
	background-color: #2196f3;
	position: absolute;
	top: 46px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: none;
}
.link--header:hover + .header__linkUnderline,
.link--header:focus + .header__linkUnderline {
	display: block;
}
.link--header:hover > svg,
.link--header:focus > svg {
	fill: #2196f3;
}
.link--header:hover > svg,
.link--header:focus > svg {
	fill: #2196f3;
}
.header {
	margin: auto;
	width: 480px;
	display: flex;
	/* border: 1px solid black; */
}

.header__logo {
	width: 134px;
	height: 28px;
	padding: 16px 15px;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.03em;
	text-align: left;
}

.link--header {
	color: #757575;
}
.menuToggle {
	width: 40px;
	height: 40px;
	padding: 0;
	margin-top: 10px;
	margin-left: 276px;
	border: none;
	background-color: #fff;
}
.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
#header-mobile__icon-hamburger {
	width: 24px;
	height: 24px;
}
.mobile-menu__iconClose {
	width: 40px;
	height: 40px;
}
.header-nav {
	display: none;
	position: relative;
	width: 521px;
	display: none;
	padding-left: 93px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.02em;
	text-align: left;
}
.header-nav-subpages {
	display: none;
	position: absolute;
	top: 32px;
	display: inline-block;
	width: 245px;
}
.header-nav-subpages__list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
}
.header-nav-subpages__element {
	font-size: 14px;
	font-weight: 500;
	margin: 0px;
	position: relative;
}

.header-nav-contact__list {
	width: 150px;
	padding-top: 21px;
}
.header-nav-contact__element {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0.02em;
	text-align: left;
	padding: 5px;
}
.header-nav-contact__element > a > #header-nav-contact__icon-smartphone {
	margin-right: 8px;
	fill: #757575;
	width: 10px;
	height: 14px;
}
.header-nav-contact__element > a > #header-nav-contact__icon-envelope {
	margin-right: 8px;
	fill: #757575;
	width: 14px;
	height: 10px;
}

.section {
	width: 480px;
	margin: auto;

}
.service-order {
	width: 480px;
	height: 400px;
	margin: auto;
	background-color: #2f303a;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(23, 26, 58, 0.4)), url('../images/main-index.jpg');
	background-size: cover;
}
.service-order__h1 {
	width: 356px;
	height: fit-content;
	padding: 118px 58px 10px 57px;
	margin: 0px;
	font-size: 26px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0.06em;
	text-align: center;
	color: #ffffff;
}
.service-order__btn {
	font-weight: 700;
	font-size: 16px;
	border: none;
	background-color: #2196f3;
	color: #ffffff;
	width: 200px;
	height: 50px;
	margin: auto;
	padding: 10px 41px 10px 42px;
	margin-top: 30px;
	margin-left: 140px;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.service-order__btn:hover,
.service-order__btn:focus {
	cursor: pointer;
}

.presentation {
	width: 480px;
	height: auto;
	margin: auto;
	margin-top: 30px;
}
.presentation__h2 {
	color: #212121;
	text-align: center;
	font-size: 36px;
	margin: 0px;
	padding-bottom: 50px;
}
.presentation__h2--ourTeam {
	color: #212121;
	text-align: center;
	font-size: 36px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0px;
	background-color: #f5f4fa;
}
.description {
	display: flex;
	justify-content: center;
}
.description__list {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.description__element {
	padding-top: 30px;
}

.description__rectangle {
	width: 450px;
	height: 120px;
	background: #f5f4fa;
	border-radius: 4px;
	margin-bottom: 30px;
	margin: auto;
	position: relative;
}

.description__icons {
	display: block;
	height: 50%;
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.description__h3 {
	color: #212121;
	margin: 0px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: center;
}

.description__paragraf {
	font-size: 14px;
	color: #757575;
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-align: left;
}

.our-work {
	display: none;
}

.our-team {
	width: 480px;
	height: auto;
	background-color: #f5f4fa;
	margin-top: 60px;
	padding-bottom: 60px;
}

.our-team__figure {
	-webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1490196078), 0px 2px 2px rgba(0, 0, 0, 0.1490196078),
		0px 4px 2px rgba(0, 0, 0, 0.1490196078);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1490196078), 0px 2px 2px rgba(0, 0, 0, 0.1490196078),
		0px 4px 2px rgba(0, 0, 0, 0.1490196078);
	width: 450px;
	border-radius: 0px 0px 4px 4px;
	margin: auto;
	margin-bottom: 30px;
	background-color: #f5f4fa;
}
.our-team__photo {
	width: 450px;
	height: 460px;
}
.our-team__figcuption {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0.03em;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.our-team__name {
	color: #212121;
}
.our-team__function {
	padding-top: 10px;
	color: #757575;
}
.our-team__socialMedia {
	width: 206px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 16px;
}
.our-team__socialMedia--mobile {
	width: 206px;
	margin: auto;
	padding-top: 16px;
	padding-left: 32px;
	padding-right: 32px;
}
.our-team__socialMediaCircle {
	fill: #afb1b8;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	position: relative;
}
.our-team__socialMediaIcon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.our-team__socialMediaLink:hover > .our-team__socialMediaCircle,
.our-team__socialMediaLink:focus > .our-team__socialMediaCircle {
	background-color: #2196f3;
	-webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__socialMediaLink:hover > .our-team__socialMediaCircle > svg,
.our-team__socialMediaLin:focus > .our-team__socialMediaCircle > svg {
	fill: #ffffff;
	-webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients {
	width: 480px;
	height: auto;
	margin-top: 60px;
}
.our-clients__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.our-clients__rectangle {
	height: 92px;
	width: 210px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	fill: #afb1b8;
	position: relative;
	/* margin: 15px; */
}
.our-clients__icon {
	width: 106px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.our-clients__link:hover > .our-clients__rectangle,
.our-clients__link:focus > .our-clients__rectangle {
	border: 1px solid #2196f3;
	fill: #2196f3;
	-webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__link:hover > .icon-rectangle-clients,
.our-clients__link:focus > .icon-rectangle-clients {
	border: 1px solid #2196f3;
	fill: #2196f3;
	-webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
	width: 480px;
	height: 567px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	background-color: #2f303a;
	color: #ffffff;
	margin-top: 94px;
	padding-bottom: 60px;
}
.footer-upper-tablet {
	margin: auto;
	display: inline-block;
	justify-content: space-around;
}
.footer-left-part {
	width: 251px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	margin-left: 115px;
}
.footer-left-part__address {
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	margin-top: 11px;
	text-align: center;
}
.footer-left-part__linkMail {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	padding-top: 8px;
}
.footer-left-part__linkPhone {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	padding-top: 8px;
}

.footer-middle-part {
	width: 206px;
	margin-left: 137px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: center;
	padding-top: 60px;
}
.footer-middle-part__h3 {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03em;
}
.footer-middle-part__socialMedia {
	display: flex;
	justify-content: space-between;
	width: 206px;
	margin: 0;
}
.footer-middle-part__socialMediaCircle {
	fill: #ffffff;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	position: relative;
	background: rgba(255, 255, 255, 0.1019607843);
}
.footer-middle-part__socialMediaCircle:hover,
.footer-middle-part__socialMediaCircle:focus {
	background-color: #2196f3;
	-webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-middle-part__socialMediaCircle:hover > svg,
.footer-middle-part__socialMediaCircle:focus > svg {
	fill: #ffffff;
	-webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-middle-part__socialMediaLink:hover > .footer-middle-part__socialMediaCircle,
.footer-middle-part__socialMediaLink:focus > .footer-middle-part__socialMediaCircle {
	background-color: #2196f3;
	-webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-middle-part__socialMediaLink:hover > .footer-middle-part__socialMediaCircle > svg,
.footer-middle-part__socialMediaLink:focus > .footer-middle-part__socialMediaCircle > svg {
	fill: #ffffff;
	-webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-middle-part__icon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.footer-right-part {
	width: 570px;
	margin-left: 15px;
	padding-top: 72px;
}
.footer-right-part__newsletter {
	height: 86px;
	width: 358px;
}
.footer-right-part__newsletterEmail {
	width: 350px;
}
.footer-right-part__label {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 16px;
	margin-left: 117px;
}
.footer-right-part__inputLabel {
	margin-top: 18px;
	background: #2f303a;
	border: 1px solid rgba(255, 255, 255, 0.3019607843);
	width: 430px;
	border-radius: 4px;
	padding: 14px 0 14px 16px;
	font-size: 16px;
}
.footer-right-part__btn {
	height: 50px;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 42px;
	margin-top: 18px;
	margin-left: 140px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	text-align: left;
	color: #ffffff;
	border-radius: 4px;
	border-color: #2196f3;
	background: #2196f3;
	position: relative;
}

.footer-right-part__btn:hover,
.footer-right-part__btn:focus {
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
	cursor: pointer;
	-webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-right-part__btn > svg,
.footer-right-part__btn > svg {
	fill: #ffffff;
	-webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-right-part__icon {
	position: absolute;
	top: 13px;
	margin-left: 24px;
	fill: #212121;
	width: 24px;
	height: 24px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.footer-right-part__icon {
	position: absolute;
	margin-left: 24px;
	fill: #fff;
	width: 24px;
	height: 24px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.footer-right-part__btn:hover,
.footer-right-part__btn:focus {
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
	cursor: pointer;
	-webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-right-part__btn > svg,
.footer-right-part__btn > svg {
	fill: #ffffff;
	-webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover > .logo--footer {
	color: #2196f3;
}
.link--footerLeftPart {
	color: #ffffff;
}
.logo--footer {
	color: #ffffff;
}
.logo--footer:hover {
	color: #2196f3;
}
.container {
	min-width: 480px;
	max-width: 796px;
	padding-top: 48px;
	padding-left: 40px;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu .link {
	padding: 10px;
	color: inherit;
	text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
	text-decoration: underline;
}
.logo {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #2196f3;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.03em;
	text-align: center;
}
.logo--header {
	color: black;
}
.logo--footer {
	color: #ffffff;
}
.logo:hover + .logo--header,
.logo:focus + .logo--header {
	color: #2196f3;
}
.logo--header:hover,
.logo--header:focus {
	color: #2196f3;
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

#modal-window__btnAccept:disabled {
	position: absolute;
	top: 74px;
	left: 95px;
	margin: 0;
	width: 200px;
	height: 50px;
	background-color: #2196f3;
	opacity: 0.5;
	color: #fff;
	border: 1px solid #2196f3;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.06em;
	text-align: center;
	cursor: not-allowed;
}

#modal-window__btnAccept {
	position: absolute;
	top: 74px;
	left: 95px;
	margin: 0;
	width: 200px;
	height: 50px;
	background-color: #2196f3;
	color: #fff;
	border: 1px solid #2196f3;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.06em;
	text-align: center;
	cursor: pointer;
}
.backdrop {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.backdrop--is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-window {
	width: 450px;
	height: 609px;
	background: #ffffff;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706),
		0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706),
		0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
	position: sticky;
	z-index: 1;
	top: 93px;
	margin: auto;
}
.modal-window__btnClose {
	background-color: #fff;
	color: #212121;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1019607843);
	border-radius: 50%;
	margin: 0;
	top: 8px;
	left: 412px;
	position: absolute;
}
.modal-window__btnClose:hover,
.modal-window__btnClose:focus {
	background-color: rgb(105, 103, 103);
	color: #212121;
	cursor: pointer;
}
.modal-window__iconClose {
	width: 11px;
	height: 11px;
	position: absolute;
	top: 8px;
	right: 8px;
}
.modal-window__forms {
	padding-left: 40px;
	padding-right: 40px;
	height: auto;
}
.modal-window__h3 {
	width: 370px;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.03em;
	text-align: center;
	color: #212121;
	font-weight: 700;
	padding-top: 40px;
	margin: 0;
}
.modal-window__form {
	width: 448px;
	padding-top: 10px;
	position: relative;
	border: 0px solid;
}
.modal-window_formLabel {
	margin-top: 10px;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	text-align: left;
	color: #757575;
}
.modal-window__formIcon {
	width: 370px;
	height: 40px;
	position: relative;
	border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-window__formIcon:hover,
.modal-window__formIcon:focus {
	border: 1px solid #2196f3;
}
.modal-window__formIcon:hover > svg,
.modal-window__formIcon:focus > svg {
	fill: #2196f3;
}
.modal-window__input {
	outline: none;
	border: none;
	width: 338px;
	padding-left: 30px;
	height: 35px;
	padding-top: 2px;
	left: 40px;
}
.modal-window__icon {
	fill: #212121;
	position: absolute;
}
.modal-window__icon--Person {
	top: 8px;
	left: 9px;
	width: 18px;
	height: 18px;
}
.modal-window__icon--Phone {
	top: 9px;
	left: 9px;
	width: 18px;
	height: 18px;
}
.modal-window__icon--Email {
	top: 10px;
	left: 9px;
	width: 21px;
	height: 18px;
}
.modal-window__comment {
	width: 368px;
	height: 105px;
	padding-top: 12px;
	padding-left: 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-window__comment:hover {
	border: 1px solid #2196f3;
}
.modal-window__comment:hover > .modal-window__commentText::-webkit-input-placeholder {
	color: #2196f3;
}
.modal-window__comment:hover > .modal-window__commentText::-moz-placeholder {
	color: #2196f3;
}
.modal-window__comment:hover > .modal-window__commentText:-ms-input-placeholder {
	color: #2196f3;
}
.modal-window__comment:hover > .modal-window__commentText::-ms-input-placeholder {
	color: #2196f3;
}
.modal-window__comment:hover > .modal-window__commentText::placeholder {
	color: #2196f3;
}
.modal-window__commentText {
	outline: none;
	width: 337px;
	height: 100px;
	resize: none;
	border: none;
}
.modal-window__accept {
	position: relative;
	width: 420px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.modal-window__regulations {
	position: absolute;
	top: 20px;
	left: 2px;
	z-index: 1;
	/* appearance: none; */
	display: block;
	margin: 0;
}

.modal-window__acceptLabel {
	display: block;
	width: 397px;
	position: absolute;
	top: 20px;
	left: 24px;
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.03em;
	color: #757575;
	text-align: left;
}
.modal-window__acceptLabel > a {
	text-decoration: none;
	color: #2196f3;
}
.modal-window__accept::before {
	content: '';
	display: block;
	position: absolute;
	top: 18px;
	border: 1px solid black;
	width: 16px;
	height: 15px;
}
input:hover + .modal-window__accept::before,
input:focus + .modal-window__accept::before {
	border-color: #2196f3;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__regulations:hover,
input:focus {
	cursor: pointer;
}
input:checked + .modal-window__accept::before {
	background-image: url(/goit-markup-hw-06/images/check.jpg);
	border: none;
}
.menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}
#menu-toggle__icon-hamburger {
	width: 24px;
	height: 24px;
}
.menu-toggle > svg {
	fill: #000000;
}
.description {
	margin: 0;
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	/* display: flex; */
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.description__icons {
	display: block;
	height: 50%;
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.description__text {
	font-size: 14px;
	color: #757575;
	margin-top: 30px;
	margin-bottom: 0px;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-align: left;
}

@media (min-width: 767px) {
	.menuToggle {
		display: none;
	}
	.header {
		width: 748px;
		height: 80px;
	}
	.header__logo {
		padding: 26px 15px;
	}

	.header-nav {
		display: flex;
		padding-left: 68px;
	}
	.header-nav-contact {
		padding: 0;
		position: absolute;
		left: 401px;
	}
	.section {

		width: 748px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}
	.service-order {
		width: 748px;
		height: 400px;
		margin: auto;
	}
	.service-order__h1 {
		width: 365px;
		padding-left: 202px;
		padding-top: 118px;
	}
	.service-order__btn {
		margin-top: 30px;
		margin-left: 284px;
	}
	.presentation {
		width: 748px;
		margin-top: 60px;
	}
	.description {
		margin-top: 60px;
		height: 627px;
		display: flex;
		justify-content: space-between;
	}
	.description__list {
		width: 1170px;
		height: auto;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.description__element {
		margin-top: 0;
	}
	.description__rectangle {
		width: 345px;
		height: 120px;
	}

	.description__text {
		width: 345px;
	}
	.our-team {
		margin-top: 15px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.our-team__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.our-team__photo {
		width: 354px;
		height: 374px;
	}
	.our-team__figure {
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1490196078), 0px 2px 2px rgba(0, 0, 0, 0.1490196078),
			0px 4px 2px rgba(0, 0, 0, 0.1490196078);
		width: 354px;
		border-radius: 0px 0px 4px 4px;
		margin: auto;
		margin-bottom: 30px;
		background-color: #f5f4fa;
	}
	.our-clients {
		width: 748px;
		padding-top: 60px;
		margin-top: 60px;
		height: max-content;
		margin: auto;
	}
	.footer {
		width: 748px;
		height: 466px;
		margin: auto;
		
		margin-top: 60px;
	}
	.footer-upper-tablet {
		margin: auto;
		display: flex;
		justify-content: safe;
	}
	.footer-left-part {
		display: flex;
		align-items: center;
		padding-top: 60px;
		margin: 0;
	}
	.footer-middle-part {
		width: 206px;
		margin: 0;
		padding-top: 65px;
	}
	.footer-right-part {
		width: 450px;
		margin: auto;
		padding-top: 60px;
	}
	.footer-right-part__newsletter {
		height: 86px;
		width: 450px;
	}
	.footer-right-part__newsletterEmail {
		width: 450px;
	}
	.footer-right-part__btn {
		margin-top: 20px;
		margin-left: 125px;
	}
	.footer-right-part__label {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.03em;
		line-height: 16px;
		margin-left: 117px;
	}
	.footer-right-part__inputLabel {
		margin-top: 20px;
		background: #2f303a;
		border: 1px solid rgba(255, 255, 255, 0.3019607843);
		width: 430px;
		border-radius: 4px;
		padding: 14px 0 14px 16px;
		font-size: 16px;
	}
	.footer-left-part__address {
		font-style: normal;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		margin-top: 20px;
		text-align: center;
	}
}
@media (min-width: 1600px) {
	.header {
		width: 1600px;
		height: 80px;
		margin: auto;
	}
	.header__logo {
		padding: 24px 93px 24px 215px;
	}
	.header-nav {
		width: 254px;
		display: inline-block;
		padding-left: 0;
	}
	.header-nav-contact {
		position: absolute;
		left: 599px;
		top: 32px;
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
		letter-spacing: 0.02em;
		text-align: left;
	}
	.service-order {
		width: 1600px;
		height: 600px;
		margin: auto;
	}
	.header-nav-contact__list {
		padding: 0;
		display: flex;
		width: 321px;
		height: 16px;
	}
	.header-nav-contact__element {
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0.02em;
		text-align: left;
		padding: 0;
	}
	.header-nav-contact__element > a > #header-nav-contact__icon-smartphone {
		margin-right: 8px;
		fill: #757575;
		width: 10px;
		height: 14px;
		padding-left: 30px;
	}
	.service-order__h1 {
		width: 696px;
		padding-left: 425px;
		padding-top: 118px;
		font-size: 44px;
		font-weight: 900;
		line-height: 60px;
		letter-spacing: 0.06em;
		text-align: center;
	}
	.service-order__btn {
		margin-top: 30px;
		margin-left: 700px;
	}
	.section {
				width: 1600px;
	}

	.presentation {
		width: 1600px;
		height: auto;
	}

	.description {
		height: 351px;
		display: flex;
	}
	.description__h3 {
		text-align: left;
	}
	.description__list {
		margin-right: auto;
		margin-bottom: 0;
		height: auto;
		justify-content: space-between;
	}
	.description__element {
		width: 270px;
		margin: 0;
	}
	.description__rectangle {
		width: 270px;
		height: 120px;
	}
	.description__text {
		width: 270px;
	}
	.our-work {
		width: 1170px;
		height: auto;
		display: block;
	}
	.our-work__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.our-work__image {
		position: relative;
	}
	.our-work__backgroundForText {
		background: rgba(47, 48, 58, 0.8);
		height: 70px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
	.our-work__text {
		font-size: 14px;
		font-weight: 700;
		line-height: 70px;
		letter-spacing: 0.03em;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		margin: 0;
	}
.our-team {
	margin-top: 94px;
}
.our-clients {
	margin-top:34px;
}
	.footer {
		width: 1600px;
		height: 252px;
		margin-left: auto;
		margin-top: 94px;
		display: flex;
	}
	
	.footer-upper-tablet {
		margin: 0;
		display: flex;
		justify-content: left;
	}
	.footer-left-part {
		display: inline-block;
		align-items: center;
		padding-top: 60px;
		padding-left: 215px;
		margin: 0;
	}
	.footer-middle-part {
		width: 206px;
		margin: 0;
		padding-top: 65px;
		padding-left: 78px;
		align-items: start;
	}

	.footer-right-part {
		margin: 0;
		padding-top: 72px;
		padding-left: 70px;
	}

	.footer-right-part__newsletterEmail {
		padding-top: 10px;
	}

	.footer-right-part__label {
		margin-left: 0;
	}

	.footer-right-part__btn {
		margin-top: 18px;
		margin-left: 12px;
		position: absolute;
	}
}
