.header {
	margin: auto;
	width: 480px;
	display: flex;

	&__logo {
		width: 134px;
		height: 28px;
		padding: 16px 15px;
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: 0.03em;
		text-align: left;
	}
	&__linkUnderline {
		content: '';
		width: 53px;
		height: 4px;
		background-color: #2196f3;
		position: absolute;
		top: 46px;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		display: none;
	}
}
#header-mobile__icon-hamburger {
	width: 24px;
	height: 24px;
}
.header-nav {
	display: none;
	position: relative;
	width: 521px;
	display: none;
	padding-left: 93px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.02em;
	text-align: left;
}
.header-nav-subpages {
	display: none;
	position: absolute;
	top: 32px;
	display: inline-block;
	width: 245px;

	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
	}
	&__element {
		font-size: 14px;
		font-weight: 500;
		margin: 0px;
		position: relative;
	}
}
.header-nav-contact {
	&__list {
		width: 150px;
		padding-top: 21px;
	}
	&__element {
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
		letter-spacing: 0.02em;
		text-align: left;
		padding: 5px;
	}
	&__element > a > #header-nav-contact__icon-smartphone {
		margin-right: 8px;
		fill: #757575;
		width: 10px;
		height: 14px;
	}
	&__element > a > #header-nav-contact__icon-envelope {
		margin-right: 8px;
		fill: #757575;
		width: 14px;
		height: 10px;
	}
}
.menuToggle {
	width: 40px;
	height: 40px;
	padding: 0;
	margin-top: 10px;
	margin-left: 276px;
	border: none;
	background-color: #fff;
}
@media (min-width: 748px) {
	.menuToggle {
		display: none;
	}
	.header {
		width: 748px;
		height: 80px;

		header__logo {
			padding: 26px 15px;
		}
	}

	.header-nav {
		display: flex;
		padding-left: 68px;
	}
	.header-nav-contact {
		padding: 21px;
		position: absolute;
		left: 401px;
	}
}
@media (min-width: 1200px) {
	.menuToggle {
		display: none;
	}
	.header {
		width: 1600px;
		height: 80px;
		margin: auto;

		&__logo {
			width: auto;
			height: auto;
			padding: 24px 93px 24px 215px;
		}
	}
	.header-nav {
		width: 254px;
		display: inline-block;
		padding-left: 0;
	}
	.header-nav-contact {
		position: absolute;
		left: 599px;
		top: 11px;
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
		letter-spacing: 0.02em;
		text-align: left;

		&__list {
			padding: 0;
			display: flex;
			width: 321px;
			height: 16px;
		}
		&__element {
			font-size: 14px;
			font-weight: 500;
			line-height: 16px;
			letter-spacing: 0.02em;
			text-align: left;
			padding: 0;
		}
		&__element > a > #header-nav-contact__icon-smartphone {
			margin-left: 30px;
			fill: #757575;
			width: 10px;
			height: 14px;
		}
	}
}
