.link {
	text-decoration: none;

	&:hover,
	&:focus {
		color: $mainBlueColor;
		cursor: pointer;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&--header {
		color: black;
	}
	&--active {
		color: $mainBlueColor;
		text-decoration: none;
	}
	&--active::after {
		content: '';
		width: 53px;
		height: 4px;
		background-color: $mainBlueColor;
		position: absolute;
		top: 44px;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		display: block;
	}
	&:hover > .logo--header,
	&focus > .logo--header {
		color: $mainBlueColor;
	}

	&--header:hover > svg,
	&--header:focus > svg {
		fill: $mainBlueColor;
	}
	&--header:focus + &__linkUnderline {
		display: block;
	}
	&--header:hover + .header__linkUnderline,
	&--header:focus + .header__linkUnderline {
		display: block;
	}
	&:hover > .logo--footer {
		color: $mainBlueColor;
	}
	&--footerLeftPart {
		color: #ffffff;
	}
}