.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
.mobile-menu__iconClose {
	width: 18.67px;
	height: 18.67px;
}
.menu-container {
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	width: 480px;
	height: 796px;
	margin: auto;
	padding: 48px 40px;
	background-color: #ffffff;
	z-index: 3;
	border: 1px solid black;
	visibility: hidden;
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mobile-menu {
	display: block;
	text-decoration: none;
	font-size: 40px;
	font-weight: 500;
	line-height: 47px;
	letter-spacing: 0.02em;
	text-align: left;
	padding-bottom: 32px;
}
.link-mobile-menu--active {
	color: #2196f3;
}
.link-mobile-menu--linkPhone {
	margin-top: 270px;
	font-size: 34px;
	color: #2196f3;
}
.link-mobile-menu--linkMail {
	font-size: 24px;
	line-height: 28px;
	color: #757575;
}
.mobile-menu__socialMedia {
	height: 22px;
}

.link-mobile-menu--socialMedia {
	color: #2196f3;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}
.mobile-menu__socialMedia--list {
	display: block;
	display: flex;
	height: 22px;
}

.mobile-menu__socialMedia--element {
	border-right: solid 1px #21212133;
	width: fit-content;
	margin-right: 10px;
	padding-right: 10px;
}
.mobile-menu__socialMedia--element:last-child {
	border: none;
	width: fit-content;
	margin-right: 10px;
	padding-right: 10px;
}

.link--active {
	color: #2196f3;
}
.mobile-menu__close {
	position: absolute;
	right: 21px;
	top: 21px;
	height: 40px;
	width: 40px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
}
.menu-toggle {
	position: absolute;
	top: 21px;
	left: 436px;
	min-height: 18.67px;
	min-width: 18.67px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}
.menuToggle:hover + .menu-container {
	transform: translateY(0);
	cursor: pointer;
	visibility: visible;
	overflow: hidden;
}
@media (min-width: 748px) {
	.menu-container {
		display: none;
	}
}
