.link-mobile-menu--active {
	color: #2196f3;
}
.link-mobile-menu--linkPhone {
	margin-top: 270px;
	font-size: 34px;
	color: #2196f3;
}
.link-mobile-menu--linkMail {
	font-size: 24px;
	line-height: 28px;
	color: #757575;
}
.mobile-menu__socialMedia {
	height: 22px;
}

.link-mobile-menu--socialMedia {
	color: #2196f3;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}
.mobile-menu__socialMedia--list {
	display: block;
	display: flex;
	height: 22px;
}

.mobile-menu__socialMedia--element {
	border-right: solid 1px #21212133;
	width: fit-content;
	margin-right: 10px;
	padding-right: 10px;
}
.mobile-menu__socialMedia--element:last-child {
	border: none;
	width: fit-content;
	margin-right: 10px;
	padding-right: 10px;
}

.container {
	padding-top: 10px;
	min-width: 320px;
	max-width: 1170px;
	margin-left: 276px;
}

.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
.mobile-menu__iconClose {
	width: 18.67px;
	height: 18.67px;
}
.menu-box {
	position: relative;
	width: 480px;
	height: auto;
	margin-left:0;
	padding: 48px 40px;
	background-color: #ffffff;
	
}

.menu {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

@media (max-width: 767px) {
	.menu {
		display: none;
	}
}

.menu .link {
	padding: 10px;
	color: inherit;
	text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
	text-decoration: underline;
}

.menu-toggle {
	margin-left: 276px;
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}

@media (min-width: 767px) {
	.menu-toggle {
		display: none;
	}
}

.menu-toggle:hover > svg,
.menu-toggle:focus > svg {
	fill: #2196f3;
	
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 32px;
	background-color: white;
	z-index: 999;
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	color: #fff;
}

.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.mobile-menu .link-mobile {
	display: block;
	padding: 10px;
	color: black;
	text-decoration: none;
	font-size: 40px;
	font-weight: 500;
	line-height: 47px;
	letter-spacing: 0.02em;
	text-align: left;
}
.mobile-menu .link-mobile--active {
	color: #2196f3;
}
.mobile-menu .link-mobile:hover {
	color: #2196f3;
}
