.modal-window {
	width: 528px;
	height: 581px;
	background: #ffffff;
	box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
	position: sticky;
	z-index: 1;
	top: 221px;
	left: 536px;
	right: 536px;
	bottom: 222px;
	right: 536px;

	&__btnClose {
		background-color: #fff;
		color: #212121;
		width: 30px;
		height: 30px;
		border: 1px solid #0000001a;
		border-radius: 50%;
		margin: 0;
		margin-top: 8px;
		margin-left: 490px;
		position: relative;
	}
	&__btnClose:hover,
	&__btnClose:focus {
		background-color: rgb(105, 103, 103);
		color: #212121;
		cursor: pointer;
	}

	&__iconClose {
		width: 11px;
		height: 11px;
		position: absolute;
		top: 8px;
		right: 8px;
	}
	&__forms {
		padding-top: 2px;
		padding-left: 40px;
		padding-right: 40px;
		height: auto;
	}
	&__h3 {
		margin: 0;
		width: 448px;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.03em;
		text-align: center;
		color: #212121;
	}
	&__form {
		width: 448px;
		padding-top: 10px;
		position: relative;
		border: 0px solid;
	}
	&_formLabel {
		margin-top: 10px;
		margin-bottom: 4px;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.01em;
		text-align: left;
		color: #757575;
	}
	&__formIcon {
		width: 448px;
		height: 40px;
		position: relative;
		border: 1px solid #21212133;
	}
	&__formIcon:hover,
	&__formIcon:focus {
		width: 448px;
		height: 40px;
		position: relative;
		border: 1px solid $mainBlueColor;
	}
	&__formIcon:hover > svg,
	&__formIcon:focus > svg {
		fill: $mainBlueColor;
	}

	&__input {
		outline: none;
		border: none;
		width: 416px;
		padding-left: 30px;
		height: 35px;
		padding-top: 2px;
		left: 42px;
	}
	&__icon {
		fill: #212121;
		position: absolute;
	}
	&__icon--Person {
		top: 8px;
		left: 9px;
		width: 18px;
		height: 18px;
	}
	&__icon--Phone {
		top: 9px;
		left: 9px;
		width: 18px;
		height: 18px;
	}
	&__icon--Email {
		top: 10px;
		left: 9px;
		width: 21px;
		height: 18px;
	}

	&__comment {
		width: 448px;
		height: 120px;
		border: 1px solid #21212133;
	}
	&__comment:hover {
		border: 1px solid $mainBlueColor;
	}
	&__comment:hover > &__commentText::placeholder {
		color: $mainBlueColor;
	}
	&__commentText {
		outline: none;
		margin-top: 1px;
		margin-left: 16px;
		width: 416px;
		height: 114px;
		resize: none;
		border: none;
	}
	&__accept {
		position: relative;
		width: 420px;
		display: flex;
	}
	&__regulations {
		width: 16px;
		height: 15px;
		position: absolute;
		top: 25px;
		left: 14px;
	}

	&__acceptLabel {
		display: block;
		width: 397px;
		position: absolute;
		top: 23px;
		left: 37px;
		margin: 0;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: $modalWindowAcceptLabelColor;
	}
	&__acceptLabel > a {
		text-decoration: none;
		color: $mainBlueColor;
	}
}
