.our-team {
	&__figure {
		box-shadow: 0px 2px 6px $boxShaddow, 0px 2px 2px $boxShaddow, 0px 4px 2px $boxShaddow;
		border-radius: 0px 0px 4px 4px;
		margin: 0px;
	}
	&__figcuption {
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		letter-spacing: 0.03em;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
	}
	&__name {
		color: $ourteamNameColor;
	}
	&__function {
		padding-top: 10px;
		color: $ourteamFunctionColor;
	}
	&__socialMedia {
		padding-top: 16px;
		padding-left: 32px;
		padding-right: 32px;
	}
	&__socialMediaCircle {
		fill: $indexMainIconFill;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		position: relative;
	}
	&__socialMediaIcon {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	&__socialMediaLink:hover > &__socialMediaCircle,
	&__socialMediaLink:focus > &__socialMediaCircle {
		background-color: $mainBlueColor;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__socialMediaLink:hover > &__socialMediaCircle > svg,
	&__socialMediaLin:focus > &__socialMediaCircle > svg {
		fill: #ffffff;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}