$mainBlueColor: #2196f3;
$headerPortfolioBorderColor: #ececec;
$serviceOrderBackgroundColor: #2f303a;
$serviceOrderColor: #ffffff;
$btnBackgrounColor: #F5F4FA;
$btnColor: #212121;
$footerIconFillColor: #ffffff;
$footerBtnColor: #ffffff;
$footerSocialMediaBackground:#FFFFFF1A;
$indexMainIconFill: #AFB1B8;
$descripctionText: #757575;
$mobileMenuLinkColor:#757575;
$mobileMenuSocialMediaBorder:#21212133;
$mobileMenuBoxBackgroundColor: #ffffff;
$descripctionRectangleBackground: #F5F4FA;
$headlinesColor: #212121;
$footerBackground: #2f303a;
$footerLogoSecondPartColor: #ffffff;
$footerRightPartIconFill: #212121;
$footerRightPartIconHoverFill: #ffffff;
$footerRightPartBtnIconHoverColor: #ffffff;
$BtnHoverColor: #ffffff;
$footerRightPartBtnColor: #212121;
$footerRightPartBtnBackgroud: #ffffff;
$footerRightPartInputLabelBackground: #2f303a;
$footerRightPartInputLabelBorder: #ffffff4d;
$footerRightPartBtnBorder: #212121;
$ourteamNameColor: #212121;
$ourteamFunctionColor: #757575;
$backdropBagroundColor: #00000033;
$portfolioCardBorder:#eeeeee;
$portfolioTextColor: #FFFFFF;
$portflioProjectNameColor:#212121;
$portflioProjectTypeColor:#757575;
$boxShaddow: #00000026;
$modalWindowAcceptLabelColor: #757575;
